*{margin: 0; padding: 0; box-sizing: ;border-box: ;}
table, th, td {
    border:1px solid black;
}

.TVCLB {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.TVCLB h1 {
    position: relative;
    left: -500px;
    top: 40px;
    color: rgb(0, 51, 255);
}

.bang {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

table {
    width: 700px;
    height: 200px;
    position: relative;
    top: 120px;
   
}
td {
   padding-left: 110px ;
   font-weight: bold;
}